<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>home page</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <% if (!locals.user) { %>
      <div class="container mt-4 ms-6 me-6">
     <h1>Sign In to Add your Own Blog!!</h1>
      </div>
    <% } %>
    <div class="container mt-3" >
      <div class="row row-cols-4">
        <% blogs.forEach(blog => { %>
        <div class="col mb-4">
          <div class="card col" style="width: 18rem">
            <img
              src="<%=blog.coverImageURL%>"
              class="card-img-top"
              style="height: 15rem"
              alt=""
            />
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <a href="/blog/<%=blog._id%>" class="btn btn-primary">view</a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include("./partials/footer") %>
    <%- include("./partials/scripts") %>
  </body>
</html>
